*{
    margin:0;
    padding:0;
    text-align:center;
    align-items: center;
}

body{
    background-image: url(images/bg.png);
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
    
}


#heading{
    padding-top:2rem;
    padding-bottom:2rem;
    height:2rem;
    width: fit-content;
    border-color: brown;
    border-right: solid;
    color:white;
    font-family:sans-serif;
    text-align:center;
    align-items: center;
}

.choices{
    justify-content: center;
    align-items: center;
    margin-top:1rem;
    display:flex;
    gap:5rem;
}

img:hover{
    opacity:0.5;
}

.score-board{
    justify-content: center;
    align-items: center;
    margin-top:10rem;
    display:flex;
    gap:35rem;
    font-size: 3rem;
    font-family:'Times New Roman', Times, serif;
    color:#38598b;
    font-weight: 600;
    text-shadow:0 0 1rem #b0757c;
}

.msg-container{
    justify-content: center;
    align-items: center;
    margin-top:9rem;
    font-size: 1.5rem;
    background-color:#b0757c;
    display:inline-block;
    padding:1rem;
    border-radius: 15px;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

img{
    height:150px;
    width:150px;
    object-fit: cover;
    border-radius:50% ;
}

/*
.first-color { 
	background: #9b5d73; 
}
	
.second-color { 
	background: #b0757c; 
}

.third-color { 
	background: #c38b8b; 
}

.fourth-color { 
	background: #fff1c5; 
}
*/
